* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(242, 242, 236);
  
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;  
  align-items: center;  
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  min-height: 500px;
}
.LogoHeading{
  width: 130%;
  border-radius: 5px;
  margin-top: -100px;
  margin-bottom: 100px;
}

.login{
  width: 300px;
  margin-bottom: 10px;
}

.Heading {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
}

.Logo {
  width: 50%;
}

.startPage {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: ;
  align-items: center;
}

.registerContainer{

  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: end;
   gap: 20px;
   p{
    margin-bottom: 0;
   }

}
.new {
  margin-bottom: 70px;
  
}
.email, .password{
  margin-right: 20px;
  margin-top: 10px;
  width: 200px;
  border-radius: 10px;
  padding: 5px;
}


 .loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
  }

  button {
    width: 150px;
    align-self: center;
    padding: 5px;
    margin-top: 20px;
  }
}

.loggedInAs {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  text-align: left; 
  font-size: larger;
  margin-top: 10px;
 
}



.loggedInAs p {
  background-color: #fff;
}

.loggedInAs span {
  margin-right: auto; 
}

.loggedInAs button {
  width: 70px;
  padding: 4px;
}


h1{
  margin-bottom: 50px;
  margin-top: 80px;
  text-align: center;
}
.ProductContent{

  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 7px;
  width: 50%;
  justify-content: center; 
  align-content: center;
  margin-top: 10px;
  margin-bottom: 100px;
  
}

.ProductList ul {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: center;
  align-content: center; 
}

.ProductList li{
  background-color: white;
}

.price{
  background-color: white;
}
.Buy{
  width: 80px;
  margin: 20px;
}

.list{
  background-color: white;
  padding: 20px;
  position: relative;
  list-style-type: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  margin-bottom: 30px;
} 

.list h5, p{
  background-color: white;
}
.list button {
  margin: 4px;
  padding: 4px;
}

.ProductName {
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.ProductList p{
  font-size: 10px;
  text-align: left;
}

.ProductImg {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100px;
  align-self: center;
}


.addToCart{
  width: 150px;
  align-self: center;
  padding: 5px;
  margin-top: 20px;
}

.cart {
  display: flex; 
}

.cart a{
  color: rgb(62, 62, 62);
  position: absolute;
  top: 30px;
  right:290px;
  background-color: #fff;
}

.cart svg {
  font-size: 40px;
  background-color: #fff;
}

.loggedInAs button{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-left: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100px;
  color: #fff; 
  background-color: #ee8fab; 
}


.loggedInAs button:hover {
  background-color: #c36380;
}

button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff; 
  background-color: #ee8fab; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #c36380;
}
