
h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}
hr {
    border: none; /* Tar bort den inbyggda kanten */
    height: 1px; /* Bestämmer höjden på linjen */
    background-color: #ccc; /* Färg på linjen */
    margin: 20px 0; /* Margin över och under linjen */
}

.cartImg {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50px;
    align-self: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column; /* Ändra flex-direction till row */
   /* Centrera elementen vertikalt */
}

li {
    display: flex; /* Använd flex på varje list-item */
    align-items: flex-start; /* Centrera elementen vertikalt */
    margin-bottom: 10px;  padding: 10px;
    position: relative;
    list-style-type: none;
    border: 1px solid rgb(232, 231, 231);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    flex-direction: column;
    justify-content: space-between; /* Placerar knappen längst ner */
    /* Centrerar knappen horisontellt *//* Lite mellanrum mellan varje list-item */
}

li img {
    margin-right: 10px; /* Lite mellanrum mellan bilden och texten */
    flex-shrink: 0; /* Förhindra att bilden krymper */
}

.pay {
    width: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: center; /* Centrerar innehållet horisontellt */
    align-items: center; /* Centrerar innehållet vertikalt */
 
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
